data/timetable.dtd

<!ELEMENT timestable (days, timeslots, courses)>
<!ATTLIST timestable 
  year (2010|2011|2012|2013|2014|2015|2016|2017) #REQUIRED
  term (1|2|3|4) #REQUIRED
>

<!ELEMENT days (day)>
<!ATTLIST day 
  date (Monday|Tuesday|Wednesday|Thrusday|Friday) #REQUIRED
  time (8:30|9:30|10:30|11:30|12:30|1:30|2:30|3:30|4:30) #REQUIRED
  course CDATA #REQUIRED
  type (Lecture|Lab|LectureLab) #REQUIRED
  room CDATA #REQUIRED
  instructor CDATA #REQUIRED
>

<!ELEMENT timeslots (timeslot)>
<!ATTLIST timeslot
  booking (8:30|9:30|10:30|11:30|12:30|1:30|2:30|3:30|4:30) #REQUIRED
  room CDATA #REQUIRED
  day (Monday|Tuesday|Wednesday|Thrusday|Friday) #REQUIRED
  course CDATA #REQUIRED
  instructor CDATA #REQUIRED
  type (Lecture|Lab|LectureLab) #REQUIRED
>

<!ELEMENT courses (course)>
<!ATTLIST course 
  classSchool CDATA "COMP"
  classNumber CDATA #REQUIRED
  classTitle CDATA #REQUIRED
  classType (Lecture|Lab|LectureLab) #REQUIRED
  timeslot (8:30|9:30|10:30|11:30|12:30|1:30|2:30|3:30|4:30) #REQUIRED
  room CDATA #REQUIRED
  instructor CDATA #REQUIRED
>
